* {
    box-sizing: border-box;
}
  
body {
    background-color: #7fbb74; 
    font-family: "Orbitron";
}

a {
    text-decoration: none;
}

.header {
    background-color: #007c38;
    padding: 20px;
    text-align: center;
    font-size: larger;
}

.column {
    float: left;
    width: 50%;;
    padding: 15px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}

.cir {
    font-weight: bold;
    color: blue;
    font-size: large;
    text-align: center;
    margin-left: 2vw;
    background-color: antiquewhite;
}
.sym {
    font-weight: bold;
    color: blue;
    font-size: large;
    text-align: center;
    margin-right: 2vw;
    background-color: antiquewhite;
}