<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <title>CircleCraft</title>
    <style>
        #canvas {
            border: 3px double rgb(11, 230, 58);
            margin: 20px auto;
            display: block;
            background-color: rgb(0, 0, 0);
        }
        #result {
            text-align: center;
            font-size: 20px;
            margin-top: 10px;
        }
        #reset-btn {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            font-size: 18px;
            background-color: #ec0808;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            font-family: "Orbitron";
        }
    </style>
</head>

<body>
    <div class="header">    
        <h1>CircleCraft</h1>
        <p><a href="{{ url_for('index') }}">Back to home</a></p>
    </div>
    
    
    <canvas id="canvas" width= '1920' height= '800'></canvas>
    <div id="result"></div>
    <button id="reset-btn">Reset</button>
    
    <script>

        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        const resultDiv = document.getElementById('result');
        const resetBtn = document.getElementById('reset-btn');
        startp = null

        let isDrawing = false;
        let points = [];

        function clearall() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            points = []
            startp = null
            isDrawing = false
        }
        canvas.addEventListener('mousedown', (e) => {
            isDrawing = true;
            const x = e.offsetX;
            const y = e.offsetY;
            startp = { x, y };
        });
        
        canvas.addEventListener('mousemove', draw);
        
        canvas.addEventListener('mouseup', () => {
            isDrawing = false;
            if (points.length > 1){
                calculatePerfectness();
            }
        });

        canvas.addEventListener('mouseout', () => {
            isDrawing = false;
            if (points.length >= 20) {
            calculatePerfectness();
            }
            if (points.length > 0 && points.length < 20) {
                resultDiv.textContent = "Don't draw outside the border!";
                clearall()
            }
        });
        
        resetBtn.addEventListener('click', () => {
            clearall()
            resultDiv.textContent = '';
        });
        
        function findCenter(points) {
            const x = points.reduce((total, point) => total + point.x, 0) / points.length;
            const y = points.reduce((total, point) => total + point.y, 0) / points.length;
            return { x, y };
        }

        function draw(e) {
            if (!isDrawing) return;

            const x = e.offsetX;
            const y = e.offsetY;
            
            points.push({ x, y });
            //Replikatsioon calculateSymmetry'st et leida pidevalt avgRadius
            const center = findCenter(points);
            const distances = points.map(point => Math.sqrt(Math.pow(center.x - point.x, 2) + Math.pow(center.y - point.y, 2)));
            const avgRadius = distances.reduce((total, distance) => total + distance, 0) / distances.length;

            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.beginPath();
            ctx.moveTo(points[0].x, points[0].y);
            for (let i = 1; i < points.length; i++) {
                ctx.lineTo(points[i].x, points[i].y);
            }
            ctx.closePath();
            ctx.strokeStyle = "Green"
            ctx.lineWidth = 2
            ctx.stroke();
            if (avgRadius < 20 && points.length > 20){
                resultDiv.textContent = "Draw a bigger circle, faster!";
                clearall()
                return;
            }
            // Vaatab, kas kursor on lähedal algpunktile ja autocalculate'b
            const endvec = Math.sqrt(Math.pow(startp.x - x, 2) + Math.pow(startp.y - y, 2));
            if (endvec <= 20 && avgRadius > 20) {
                isDrawing = false;
                calculatePerfectness();
                return;
            }
        }

        function calculatePerfectness() {
            if (points.length <= 20) {
                resultDiv.textContent = "Draw for longer!";
                clearall()
                return;
            } 
            const center = findCenter(points);
            //Leiab raadiuse pikkuse
            const distances = points.map(point => Math.sqrt(Math.pow(center.x - point.x, 2) + Math.pow(center.y - point.y, 2)));
            //Leiab keskmise raadiuse
            const avgRadius = distances.reduce((total, distance) => total + distance, 0) / distances.length;
            // Deviatasiooni kaudu perfectness
            const deviation = Math.sqrt(distances.reduce((total, distance) => total + Math.pow(distance - avgRadius, 2), 0) / distances.length);
            // Perfektne ring
            ctx.beginPath();
            ctx.strokeStyle = 'red';
            ctx.arc(points.reduce((total, point) => total + point.x, 0) / points.length, points.reduce((total, point) => total + point.y, 0) / points.length,avgRadius, 0, Math.PI * 2)
            ctx.stroke();
            //Debug jooned
            // ctx.beginPath();
            // ctx.strokeStyle = 'red';
            // points.forEach(point => {
                //     ctx.moveTo(center.x, center.y);
                //     ctx.lineTo(point.x, point.y);
                // });
                // ctx.stroke();
                
            const perfectness = Math.max(0,100 - deviation)

            resultDiv.textContent = `Perfectness: ${perfectness.toFixed(2)}%`;
            points = []
            startp = null
            isDrawing = false
        }

    </script>
</body>
</html>
