<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SymmetryQuest: CircleCraft</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header">
        <h1>SymmetryQuest: CircleCraft</h1>
        <input type="range" id="volume-control">
        <span class="music-icon" id="music-icon">&#9835;</span>
    </div>
    <div class="row">
        <div class="column">
            <div id="high-score">High Score: 0%</div>
            <div class="cir">
                <h2><a href="{{ url_for('circle') }}">Go to CircleCraft</a></h2>
            </div>
        </div>
        <div class="column">
            <div class="sym">
                <h2><a href="{{ url_for('symmetry') }}">Go to SymmetryQuest</a></h2>
            </div>
        </div>
    </div>
    <audio id="background-music" loop autoplay>
        <source src="{{ url_for('static', filename='kodumuusika.mp3') }}" type="audio/mpeg">
        
    </audio>
    <script>
        let audio = document.getElementById("background-music");
        let volumeControl = document.getElementById("volume-control");

        fetch("/get_volume") // Võtab helitugevuse eelmiselt lehelt
            .then(response => response.json()) 
            .then(data => {
                let volume = data.volume;
                audio.volume = volume / 100;
                volumeControl.value = volume;
            });
        
        volumeControl.addEventListener("input", function(e) { // Slaideri liigutamisel muudab heliväärtust
            let volume = e.currentTarget.value;
            audio.volume = volume / 100;
            fetch("/update_volume", {method: "POST", headers: {"Content-Type": "application/json"}, // Uuendab serveri volume väärtust
                body: JSON.stringify({ volume: volume })
            });
        });

        const highScoreDiv = document.getElementById('high-score');
        // Võtab praeguse high score'i
        function fetchHighScore() {
            fetch("/update_score", {method: "POST", headers: {"Content-Type": "application/json"},
                body: JSON.stringify({ score: 0 })  // Saadab 0 high score, et seda fetchida
            })
            .then(response => response.json())
            .then(data => {
                highScoreDiv.textContent = `High Score: ${data.high_score.toFixed(2)}%`;
            });
        }

        fetchHighScore();

    </script>
</body>
</html>
