<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SymmetryQuest: CircleCraft</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>SymmetryQuest: CircleCraft</h1>
        <input type="range" id="volume-control">
        <span class="music-icon" id="music-icon">&#9835;</span>
    </div>
    <div class="row">
        <div class="column">
            <div class="cir">
                <h2><a href="{{ url_for('circle') }}">Go to CircleCraft</a></h2>
            </div>
        </div>
        <div class="column">
            <div class="sym">
                <h2><a href="{{ url_for('symmetry') }}">Go to SymmetryQuest</a></h2>
            </div>
        </div>
    </div>
    <audio id="background-music" loop autoplay>
        <source src="{{ url_for('static', filename='kodumuusika.mp3') }}" type="audio/mpeg">
     
    </audio>
    <script>
        let audio = document.getElementById("background-music");
        let volumeControl = document.getElementById("volume-control");
        volumeControl.addEventListener("input", function(e) {
            audio.volume = e.currentTarget.value / 100;
        })
    </script>
</body>
</html>
