<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <title>SymmetryQuest</title>
    <style>
        .cent {
            text-align: center;
        }

        #canvas {
            border: 3px double rgb(11, 230, 58);
            margin: 20px auto;
            background-color: rgb(0, 0, 0);
        }
        #result {
            font-size: 20px;
            margin-top: 10px;
        }

        #reset-btn {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            font-size: 18px;
            background-color: #ec0808;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            font-family: "Orbitron";
        }
    </style>
</head>
<body>
    <div class="cent">
        <div class="header">
            <h1>SymmetryQuest</h1>
            <p><a href="{{ url_for('index') }}">Back to home</a></p>
        </div>
    
        <canvas id="canvas" width="1000" height="600"></canvas>
        <div id="result">Draw a shape on the left and mirror it on the right!</div>
        <button id="reset-btn">Reset</button>
    </div>

    <script>
        // Konstandid
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        const resultDiv = document.getElementById('result');
        const resetBtn = document.getElementById('reset-btn');
        
        let isDrawing = false;
        let points = []
        let Lpoints = []

        function drawSymmetryLine() { // Joonistab keskele sirgjoone
            ctx.beginPath();
            ctx.moveTo(canvas.width / 2, 0);
            ctx.lineTo(canvas.width / 2, canvas.height);
            ctx.strokeStyle = "White"
            ctx.lineWidth = 3
            ctx.stroke();
        }
        function clearall() { // Restardid canvas'e
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            drawSymmetryLine();
            points = []
            Lpoints = []
        }
        drawSymmetryLine();
        // Alustab hiire vajutamisel joonistamist
        canvas.addEventListener('mousedown', startDrawing);
        // Hiire liigutamisel joonistab
        canvas.addEventListener('mousemove', draw);

        function minmaxY(list) { // Leiab punktide listis oleva miinimum ja maksimum y väärtuse
            let minY = Infinity;
            let maxY = -Infinity;

            list.forEach(({ x, y }) => {
                if (y < minY) {
                    minY = y; // Uuendab minY väärtuse kui y on väiksem
                }
                if (y > maxY) {
                    maxY = y; // Uuendab maxY väärtuse kui y on suurem
                }
            });
            return { minY, maxY };
        }

        // Hiire vajutamise lõpetamisel lõpetab joonistamise ja tühjendab punktid
        canvas.addEventListener('mouseup', () => {
            isDrawing = false;
            const pointsMinMaxY = minmaxY(points);
            const LpointsMinMaxY = minmaxY(Lpoints);
            const diffRminLmax = Math.abs(LpointsMinMaxY.maxY - pointsMinMaxY.minY);
            const diffRmaxLmin = Math.abs(pointsMinMaxY.maxY - LpointsMinMaxY.minY);
            const diffLy = Math.abs(LpointsMinMaxY.maxY - LpointsMinMaxY.minY);
            console.log(pointsMinMaxY, LpointsMinMaxY)
            console.log(diffRminLmax, diffRmaxLmin, diffLy)
            if (diffLy > diffRminLmax * 1.25 || diffLy > diffRmaxLmin * 1.25) { // Adjust the multiplier as needed
                result.textContent = 'Draw the object symmetrically!';
            } else {
                calculateSymmetry();
            }
            points = [];
            Lpoints = [];
        });

        // Hiire lahkumisel canvas'est
        canvas.addEventListener('mouseout', () => {
            isDrawing = false
            calculateSymmetry()
            points = []
            Lpoints = []
        });
        
        resetBtn.addEventListener('click', () => {
            clearall()
            isDrawing = false
            result.textContent = 'Draw a shape on the left and mirror it on the right!';
        });


        function startDrawing(e) { // Kontrollib, kas hiir alustab vasakult
            if (e.offsetX <= canvas.width / 2) {
                isDrawing = true;
                clearall()
            } else { result.textContent = 'Draw on the left!'}
        }

        function draw(e) {
            if (!isDrawing) return; // Joonistamise lõpetamisel lõpetab joonistamise
            // Hiire positsioon
            const x = e.offsetX
            const y = e.offsetY
            // Kui hiir joonistab vasakul ja paremal on juba joonistatud, siis lõpetab joonistamise
            if (x < (canvas.width / 2) +1 && points.length > 2) {
                isDrawing = false
                calculateSymmetry()
            }
            else if (x < canvas.width / 2) { // Kui joonistad vasakul, paneb hiire punktid list'i
                Lpoints.push({x,y});
                // Joonistab iga punkti vahele joone
                ctx.clearRect(canvas.width / 2,canvas.height / 2, 0, 0); 
                ctx.beginPath();
                ctx.moveTo(Lpoints[0].x, Lpoints[0].y);
                for (let i = 1; i < Lpoints.length; i++) { // Läbib iga punkti
                    ctx.lineTo(Lpoints[i].x, Lpoints[i].y);
                }
                ctx.strokeStyle = "Red"
                ctx.lineWidth = 2
                ctx.stroke();
                drawSymmetryLine(); // Keskjoon muidu kustutatakse
            } else if (x > canvas.width / 2) { // Kui joonistad paremale paneb punktid list'i
                points.push({x,y});
                // Joonistab iga punkti vahele joone
                ctx.clearRect(canvas.width / 2,canvas.height / 2, canvas.width, canvas.height);
                ctx.beginPath();
                ctx.moveTo(points[0].x, points[0].y);
                for (let i = 1; i < points.length; i++) {
                    ctx.lineTo(points[i].x, points[i].y);
                }
                ctx.strokeStyle = "Green"
                ctx.lineWidth = 2
                ctx.stroke();
                drawSymmetryLine();
            }
            if (x > canvas.width / 2) { // Kui joonistad paremal pool, siis näitab symmetry%
                const symmetryp = calculateSymmetry();
                result.textContent = `Symmetry: ${symmetryp.toFixed(2)}%`;
            }
        }


    function calculateSymmetry() { // Arvutab kui sümmeetriline on kujundiga
        // Konstandid
        let totalDeviation = 0;
        let ilength = 0;
        const yValues = new Map(); // Vasaku kujundi Map list
        const rValues = new Map();

        // Paneb kõik vasakpoolsed x'id y'tega kokku (pole seotud poliitiliste vaadetega)
        Lpoints.forEach(({ x, y }) => {
            if (yValues.has(y)) { // Kui on y koordinaadil mitu x koordinaati, siis liidab x'id kokku
                yValues.set(y, yValues.get(y) + x);
            } else {
                yValues.set(y, x);
            }
        });

        // Paneb kõik parempoolsed x'id y'tega kokku (pole seotud poliitiliste vaadetega)
        points.forEach(({ x, y }) => {
            if (rValues.has(y)) { // Kui on y koordinaadil mitu x koordinaati, siis liidab x'id kokku
                rValues.set(y, rValues.get(y) + x);
            } else {
                rValues.set(y, x);
            }
        });

        // Kui y'il vasakul on vastav y paremal:
        // See tähendab ka seda, et kui paremal poolel on y koordinaadiga punkt, kuid selle y koordinaadiga punkti vasakul ei ole,
        // siis seda arvutusse ei võeta (ehk loevad ainult punktid, mis jäävad vasaku kujundi y-max ja y-min vahele)
        yValues.forEach((leftSumX, y) => {
            if (rValues.has(y)) {
                const rightSumX = rValues.get(y);

                // Leiab keskmise vasak-, parempoolse x koordinaadi väärtuse
                const leftCount = Lpoints.filter(p => p.y === y).length; // Leiab mitu x koordinaati kindlal y'il
                const rightCount = points.filter(p => p.y === y).length;
                const leftX = leftSumX / leftCount;
                const rightX = rightSumX / rightCount;

                // Erinevus keskjoonest
                const leftDeviation = Math.abs(canvas.width / 2 - leftX);
                const rightDeviation = Math.abs(rightX - canvas.width / 2);

                // Deviatsioon
                let deviation = Math.abs(leftDeviation - rightDeviation); // X'ide vahe
                if (leftDeviation > 80 && rightDeviation > 59) {
                    deviation *= 0.8
                }
                if (deviation > 20) {  // Määrab kui suur peaks deviatsiooni osakaal olema olenevalt deviatsiooni suurusest
                    totalDeviation += deviation * 0.7; // selleks, et suuremad deviatsioonid ei rikuks kogu % ära
                } else if (deviation > 13) {
                    totalDeviation += deviation * 0.8
                } else {totalDeviation += deviation * 0.9}
                ilength += 1;
            }
        });
        if (ilength === 0) {
            return 0; // Väldib NaN%
        }
        return Math.max(0, 100 - totalDeviation / ilength); // Leiab keskmise deviatsiooni ja arvutab %
    }
    </script>
</body>
</html>
